[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "custom/themes/powerlevel9k"]
	path = custom/themes/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
[submodule "tpm"]
	path = tpm
	url = git@github.com:tmux-plugins/tpm.git
